In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asdaesdaesdasesda'))
s

0     a
1     s
2     d
3     a
4     e
5     s
6     d
7     a
8     e
9     s
10    d
11    a
12    s
13    e
14    s
15    d
16    a
dtype: object

In [3]:
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [4]:
s.value_counts()

a    5
s    5
d    4
e    3
dtype: int64

In [5]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [6]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [7]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64