In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
5,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
6,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
7,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
8,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
9,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,Apartamento

In [3]:
# 1 e 2
# 3 e 4
# 5 e 6
# 7 ou mais
classes = [0, 2, 4, 6, 100]

In [4]:
quartos = pd.cut(dados.Quartos, classes)

In [5]:
quartos

0        (0, 2]
1        (0, 2]
2        (0, 2]
3        (0, 2]
4        (2, 4]
5        (0, 2]
6        (2, 4]
7        (0, 2]
8        (0, 2]
9        (2, 4]
10       (0, 2]
11       (2, 4]
12       (0, 2]
13       (2, 4]
14       (0, 2]
15       (2, 4]
16       (2, 4]
17       (2, 4]
18       (2, 4]
19       (2, 4]
20       (2, 4]
21       (2, 4]
22       (0, 2]
23       (2, 4]
24       (2, 4]
25       (0, 2]
26       (2, 4]
27       (0, 2]
28       (0, 2]
29       (0, 2]
          ...
19801       NaN
19802    (0, 2]
19803    (0, 2]
19804    (0, 2]
19805    (0, 2]
19806    (0, 2]
19807    (0, 2]
19808    (0, 2]
19809    (0, 2]
19810    (0, 2]
19811    (0, 2]
19812       NaN
19813    (0, 2]
19814    (0, 2]
19815    (0, 2]
19816    (0, 2]
19817    (0, 2]
19818    (0, 2]
19819    (0, 2]
19820    (0, 2]
19821    (0, 2]
19822    (0, 2]
19823    (0, 2]
19824    (0, 2]
19825    (0, 2]
19826    (0, 2]
19827    (0, 2]
19828    (0, 2]
19829    (0, 2]
19830       NaN
Name: Quartos, Length: 19831, dtype: category
Categories (4, interval[int64]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [6]:
pd.value_counts(quartos)

(0, 2]      11074
(2, 4]       8094
(4, 6]        470
(6, 100]       36
Name: Quartos, dtype: int64

In [7]:
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6  quartos', '7 quartos ou mais']

In [10]:
quartos = pd.cut(dados.Quartos, classes, labels = labels)

In [11]:
pd.value_counts(quartos)

1 e 2 quartos        11074
3 e 4 quartos         8094
5 e 6  quartos         470
7 quartos ou mais       36
Name: Quartos, dtype: int64

In [12]:
quartos = pd.cut(dados.Quartos, classes, labels = labels, include_lowest= True)

In [13]:
pd.value_counts(quartos)

1 e 2 quartos        11231
3 e 4 quartos         8094
5 e 6  quartos         470
7 quartos ou mais       36
Name: Quartos, dtype: int64